body {
	background-color: #f8f8f8;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
.shadow {box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);}
.text-shadow {text-shadow: 0 4px 4px rgba(0, 0, 0, 0.32);}
.btn {
	cursor: pointer;
}
.btnp {
	padding-left: 40px; 
	padding-right: 40px;
}
.s-icon {
	margin-right: 8px;
	margin-bottom: 10px;
	font-size: 20px;
}
.header-section {
	position: relative;
	margin-bottom: -75px;
}
.header .inner-header {
	background: url(../IMG/header_image.jpg) no-repeat center center;	
}
.small-header .inner-header {
	background: url(../IMG/partner-cover.jpg) no-repeat center center;
}
.header-section .inner-header {
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	height: calc(100% - 75px);
	position: relative;
}
.header.header-section {
	height: 100vh;
}
.small-header.header-section {
	height: 40vh;
}
.small-header .heading {
	text-align: center;
}
.darken-bg {
	background-color: #000;
	opacity: 0.67;
	width: 100%;
	height: 100%;
	position: absolute;
}
.headerImage {
	color: white;
}
.headerImage h1 {
	font-size: 6rem;
	font-weight: 500;
}
.headerImage {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}
.headerImage p {
	width: 65%;
	font-size: 24px;
	line-height: 1.3;
	font-weight: 300;
	margin-bottom: 30px;
}
.headerImage .btn {
	margin-right: 40px;
	margin-bottom: 20px;
}
.navbar {
	background-color: #037EF3;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}
.navbar-dark .navbar-nav .nav-link.btn-light {
	color: #037EF3;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.navbar .nav-item.button-explore {
	top: 0.3rem;
	position: relative;
	margin: 0 0.5rem;
}
.section {
	padding: 120px 0;
}
.section.hm {
	padding: 60px 0;
}
.section-dark {
	background-color: #037EF3;
	color: #fff;
}
.section-heading h2 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 60px;
}
.section-light .section-heading h2 {
	color: #037EF3;
}
.section-dark .section-heading h2 {
	color: #fff;
}

.col-item .image {
	margin-bottom: 30px;
}
.section-action {
	margin-top: 30px;
}
.section-numbers .col-sm{
	font-size: 22px;
	font-weight: 300;
	line-height: 1.2;
}
.section-numbers .strong {
	font-size: 46px;
	font-weight: 400;
	margin-bottom: 15px;
}

.section-prods .ia {
	margin-right: 20px;
}
.section-prods .i-image {
	height: 120px;
	margin-bottom: 20px;
}

.section-prods .row > div, .section-LDQ .row > div {
	margin-bottom: 30px;
}

.section-prods .action {
	color: #fff;
}
.section-prods .act-gv {
	background-color: #f85a40;
	border-color: #f85a40;
}
.section-prods .act-gv:hover {
	background-color: #eb553d;
	border-color: #e7533b;
}
.section-prods .act-gv:not([disabled]):not(.disabled):active {
	background-color: #e3523b;
	border-color: #e7533b;
}
.section-prods .act-gv:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 90, 64, 0.5);
}

.section-prods .act-gt {
	background-color: #0a8ea0;
	border-color: #0a8ea0;
}
.section-prods .act-gt:hover {
	background-color: #0b8d9f;
	border-color: #0a8597;
}
.section-prods .act-gt:not([disabled]):not(.disabled):active {
	background-color: #0a8394;
	border-color: #0b8090;
}
.section-prods .act-gt:focus {
	box-shadow: 0 0 0 0.2rem rgba(10, 142, 160, 0.5);
}

.section-prods .act-ge {
	background-color: #30c39e;
	border-color: #30c29d;
}
.section-prods .act-ge:hover {
	background-color: #2dbe99;
	border-color: #2cb592;
}
.section-prods .act-ge:not([disabled]):not(.disabled):active {
	background-color: #2bb794;
	border-color: #2bb592;
}
.section-prods .act-ge:focus {
	box-shadow: 0 0 0 0.2rem rgba(45, 190, 153, 0.5019607843137255);
}

.section-LDQ .image {
	margin-bottom: 15px;
}
.section-LDQ .quality {
	font-size: 23px;
	line-height: 1.3;
	font-weight: 900;
}

.testimonial-image {
	background: url(https://s3.eu-west-1.amazonaws.com/gis-production-eu/profile_photos/original/1496480047.png) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 500px;
	padding: 50px;
}
.testimonial-content .t-name {
	font-size: 42px;
	font-weight: 900;
	color: #037EF3;
}
.testimonial-content .p-image img {
	width: 150px;
}
.testimonial {
	font-size: 18px;
	color: #444;
	line-height: 1.3;
	text-indent: -6px;
}
/* Bootstrap carousel edit */
.section-testimonials .carousel-caption {
	background-color: rgba(255, 255, 255, 0.95);
	color: black;
	top: 15%;
	right: 52%;
	left: 12%;
	bottom: 14%;
	text-align: left;
	padding: 40px 30px;
}
.carousel-indicators li {
	cursor: pointer;
}
/* End edit */
.footer {
	margin-top: 50px;
	padding: 50px 0;
	background-color: #037EF3;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer ul .title {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 8px;
	color: #063b6f;
}
.footer a {
	color: #F2F2F2;
	text-decoration: none;
}
.footer .clms a {
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
	transition: 0.2s all ease-in-out;
}
.footer a:hover {
	color: #FFFFFF;
}
.footer .clms a:hover {
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
}
.rights {
	padding-top: 25px;
	color: #F2F2F2;
}
.social ul li {
    display: inline-block;
    margin-right: 20px;
}
/* Code snippet from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.videoWrapper {
	position: relative;
	padding-bottom: 54.15%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* End Snippet */
/* Media Queries */
@media (max-width: 991px) {
	.small-header .heading {
		font-size: 3rem;
	}
	.navbar .nav-item.button-explore {
		margin: 0.4rem 0;
    display: inherit;
	}
	.navbar .nav-item.button-explore a {
		padding: 0.5rem;
	}
	.headerImage h1 {
		font-size: 4rem;
	}
	.headerImage p {
		font-size: 18px;
	}
	.testimonial {
		font-size: 14px;
		text-indent: -3px;
	}
	.testimonial-content {
		font-size: 11px;
	}
	.testimonial-content .p-image img {
		width: 100px;
	}
	.testimonial-content .t-name {
		font-size: 30px;
	}
	.section-testimonials .carousel-caption {
		background-color: rgba(255, 255, 255, 0.86);
		right: 45%;
		padding: 20px 25px;
	}
}
@media (max-width: 768px) {
	.small-header .heading {
		font-size: 2.3rem;
	}
	.headerImage h1 {
		font-size: 3rem;
	}
	.headerImage p {
		font-size: 15px;
	}
	.section-testimonials .carousel-caption {
		right: 10%;
		left: 10%;
		top: 0%;
		bottom: 13%;
		padding: 8px 18px;
	}
	.rights {
		padding: 0 0 0 12px;
		margin-top: 30px;
	}
}
@media (max-width: 576px) {
	.small-header .heading {
		font-size: 1.6rem;
	}
	.section {
		padding: 50px 0;
	}
	.section.hm {
		padding: 25px 0;
	}
	.testimonial {
		font-size: 14px;
	}
	.testimonial-content .t-name {
		font-size: 18px;
	}
	.testimonial-content .p-image img {
		width: 65px;
	}
	.section-heading h2 {
		font-size: 2.5em;
	}
	.footer .clms {
    margin: 0 auto;
    width: 75%;
	}
}
.section-opportunities .card{
	width: 100%;
  margin: 18px 0;
  border-radius: 2px;
  border: none;
  background-color: #fefefe;
  box-shadow: 0px 10px 20px -5px #bdbdbd;
}
.col-sm-12.col-md-6.col-lg-4 {
  align-items: stretch;
  display: flex;
}
.section-opportunities .card-text {
  margin-bottom: 1rem;
}
.section-opportunities .card-text p {
  margin-bottom: 0;
}
.heading {
  margin: 2.5rem 0 2rem;
}
.section-opportunities .card-img-top {
  width: 100%;
  height: 200px;
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: center;
}
.section-opportunities .card-img-top img {
	width: 100%;
	display: none;
}
.section-opportunities .card .card-img-top .opportunity-image-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: .7;
	z-index: 21;
}
.section-opportunities .card .card-img-top .GV-overlay {
	background-color: #f85a40;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.section-opportunities .card .card-img-top .opportunity-image-bottom-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.2);
	z-index: 20;
}
.section-opportunities .pagination-dropdown {
	padding-top: 50px;
}
.section-opportunities .pagination-dropdown .dropdown-menu {
	max-height: 68vh;
	overflow: scroll;
}
.section-opportunities a.btn {
	font-size: 1em;
	margin-bottom: 12px;
}
.brand-label {
	position: absolute;
	top: 11px;
	left: 13px;
	z-index: 22;
}
.brand-label .global-logo {
	height: 38px;
	width: 120px;
}
.gv-en {
	background: url(https://s3-eu-west-1.amazonaws.com/cdn.expa.aiesec.org/assets/images/Brand+icons/GV.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}
.formorocco {
	font-size: 16px;
	text-align: right;
	padding-right: 6px;
	padding-top: 2px;
	font-weight: 300;
	line-height: 1;
}
.section-faq .card{
	margin-bottom: 5px;
	border-radius: 0;
	border: 1px solid #efefef;
	background-color: #fcfcfc;
}
.section-faq .card-header {
	border-bottom: none;
	padding: 0;
}
.section-faq .card-header button.btn-link:hover {
	color: #037EF3;
}
.section-faq .card-header button.btn-link:hover,
.section-faq .card-header button.btn-link:focus,
.section-faq .card-header button.btn-link:active {
	text-decoration: none;
}
.section-faq .card-header button.btn.btn-link {
	white-space: normal;
	text-align: left;
	font-weight: 600;
	padding: 1.25rem 1.6rem;
	width: 100%;
	border-radius: 0;
	transition: 0.2s all ease-in-out;
}
.section-faq .card-header button.btn.btn-link.collapsed {
	color: #1e1e1e;
	background-color: #f1f1f1;
}
.section-faq .card-header button.btn.btn-link {
	color: #037EF3;
	background-color: #efefef;
}
.section-faq .card-header button.btn-link.collapsed:hover {
	color: #037EF3;
	background-color: #efefef;
}
.section-faq .card-body {
	padding: 1.25rem 1.6rem;
}
#MCModel .badge-flag {
	width: 20px;
	height: 16px;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	top: 0;
	border-radius: 0;
	margin-right: 0.2rem;
}
#MCModel .badge-flag.br {
	background-image: url(https://cdn-expa.aiesec.org/assets/images/icons/nationalities/brazil.svg);
}
#MCModel .badge-flag.tr {
	background-image: url(https://cdn-expa.aiesec.org/assets/images/icons/nationalities/turkey.svg);
}
#MCModel .badge-flag.eg {
	background-image: url(https://cdn-expa.aiesec.org/assets/images/icons/nationalities/egypt.svg);
}
#MCModel .badge-flag.in {
	background-image: url(https://cdn-expa.aiesec.org/assets/images/icons/nationalities/india.svg);
}
#MCModel .badge-flag.ch {
	background-image: url(https://cdn-expa.aiesec.org/assets/images/icons/nationalities/china_mainland.svg);
}
.body-partners {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.partner-item {
	color: #fff;
	transition: 0.2s all ease-in-out;
	margin: 6px;
}
.partner-item:hover {
	box-shadow: 0 14px 24px -9px #bdbdbd;
}